.top-bar {
  background-color: var(--vela-topbar-bgcolor);

  &-body {
    width: calc(100% - 120px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &_info {
      display: flex;
      align-items: center;
      font-size: var(--velasubmenu-fontsize);
      opacity: 0.9;
    }

    &_sale {
      font-size: 14px;
      color: var(--vela-topbar-textcolor);

      a[href="/products"] {
        display: inline-flex;
        margin: 0 8px;
        color: var(--vela-body-bg);
        padding: 0 10px;
        border-radius: 3px;
        background-color: var(--vela-color-primary);
      }
    }

    &_social {
      ul {
        display: inline-flex;
        align-items: center;

        .item {
          margin: 0 6px;
          opacity: 0.5;
        }
      }
    }
  }
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #c0c0c040;

  .menus {
    display: inline-flex;
    align-items: center;

    li[class="menu"] {
      a {
        font-size: 16px;
        display: inline-flex;
        padding: 15px 20px;
        color: var(--btnpro_txtcolor);

        &:hover {
          color: var(--velamenu-linkcolor-hover);
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        a {
          &::after {
            display: inline-block;
            content: "\f107";
            font-family: var(--vela-font-icon);
            font-size: 10px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .user {
    display: inline-flex;
    align-items: center;

    .profile {
      display: inline-flex;
      align-items: center;

      p {
        margin: 0 5px;

        &.link {
          a {
            color: var(--vela-header-textcolor);

            &:hover {
              color: var(--velamenu-linkcolor-hover);
            }
          }
        }
      }
    }

    .btn-search {
      margin: 0 10px;
      border: none;
    }
    .search-top {
      position: absolute;
      right: 0;
      position: absolute;
      background-color: var(--vela-body-bg);
      width: 400px;
      border-radius: 3px;
      box-shadow: 0 0 5px var(--vela-notfound-txtcolor);
      top: 35px;
      z-index: 999;
      opacity: 1;
      visibility: visible;
      &-form {
        max-width: 600px;
        position: relative;
        box-shadow: 0 0 3px var(--vela-notfound-txtcolor);
        border-radius: 5px;
        overflow: hidden;
        &-group {
          position: relative;
          width: 100%;
          display: table;
          border-collapse: separate;
          &__input {
            height: 48px;
            border: 0;
            padding: 9px 50px 9px 20px;
            color: var(--vela-header-textcolor);
            position: relative;
            z-index: 2;
            float: left;
            margin-bottom: 0;
          }
          &-addon {
            font-weight: 400;
            line-height: 1;
            color: var(--vela-text-color-primary);
            text-align: center;
            background-color: var(--vela-header-bgcolor);
            border: var(--vela-border-main);
            border-radius: 3px;
            &__img {
              display: inline-block;
              width: 20px;
              height: auto;
            }
            &__btn {
              transition: all 0.35s ease;
              width: 50px;
              border: 0;
              position: absolute;
              right: 0;
              top: 5px;
              padding: 0;
              border-radius: 0;
              line-height: 32px;
              z-index: 3;
              font-size: 18px;
              color: var(--button_one_bgcolor);
              background-color: transparent;
              &:focus {
                box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
              }
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .btn-shop-bag {
      position: relative;
      margin: 0 10px;
      border: none;

      small {
        position: absolute;
        top: -17px;
        font-size: 20px;
        right: -11px;
      }
    }
  }
}
