#home-page {
  padding: 0 50px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    .left-side {
      p {
        font-size: 15px;
        margin: 0 10px 0 0;
        display: inline-block;
      }
      a {
        background-color: var(--vela-parag-purple);
        color: var(--velasubmenu-bgcolor);
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 15px;
      }
    }
  }
}
