body {
    background-color: #ededed;
}

.Page {
    width: 100%;
    margin: 320px 0;
    text-align: center;
    &-wrap {
        &__title {
            margin: 0 0 50px;
            font-size: 170px;
            font-weight: 600;
            color: #ccc;
            line-height: 110px;
            &--sub {
                font-size: 28px;
                margin: 23px 0 12px;
                font-weight: 700;
                line-height: 1.1;
                color: var(--vela-text-color-secondary);
            }
        }
        &__text {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__btn {
            padding: 9px 20px;
            border-radius: 5px;
            &:hover {
                color: var(--button_one_txtcolor_hover);
                background-color: var(--button_one_bgcolor_hover);
                border-color: var(--button_one_bordercolor_hover);
            }
            &:focus {
                border-color: #191919;
                background-color: #191919;
                color: var(--button_one_txtcolor_hover);
                box-shadow: 0 0 0 0.25rem rgba(25 25 25 / 0%);
            }
            &:active {
                border-color: #191919;
                background-color: #191919;
                color: var(--button_one_txtcolor_hover);
                box-shadow: 0 0 0 0.25rem rgba(25 25 25 / 0%);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .Page {
        &-wrap {
            &__title {
                font-size: 120px;
                line-height: 70px;
                margin-bottom: 30px;
                &--sub {
                    font-size: 28px;
                    margin: 23px 0 12px;
                    line-height: 1.1;
                }
            }
        }
    }
}