.box {
  width: 100%;
  text-align: center;
  padding: 339px 0;
  background-color: var(--vela-notfound-bgcolor);
}

.not-found-page {
  &__title {
    margin: 0 0 50px;
    font-size: 170px;
    font-weight: 600;
    color: var(--vela-notfound-txtcolor);
    line-height: 110px;
    &--sub {
      font-size: 28px;
      margin: 23px 0 12px;
      font-weight: 700;
      line-height: 1.1;
      color: var(--vela-text-color-secondary);
    }
  }
  &__desc {
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.btn-submit {
  padding: 9px 20px;
  border-radius: 5px;
  &:hover {
    color: var(--button_one_txtcolor_hover);
    background-color: var(--button_one_bgcolor_hover);
    border-color: var(--button_one_bordercolor_hover);
  }
  &:focus,
  &:active,
  &:active:focus {
    border-color: var(--btn-notfound-bordercolor);
    background-color: var(--btn-notfound-bgcolor);
    color: var(--button_one_txtcolor_hover);
    box-shadow: 0 0 0 0.25rem rgba(25 25 25 / 0%);
  }
}

@media only screen and (max-width: 767px) {
  .not-found-page {
    &__title {
      font-size: 120px;
      line-height: 70px;
      margin-bottom: 30px;
      &--sub {
        font-size: 28px;
        margin: 23px 0 12px;
        line-height: 1.1;
      }
    }
  }
}
