#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  .body {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vela-body-bg);
    padding: 20px 50px;
    .logo {
    }
    .menus {
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          a {
            display: inline-block;
            margin: 0 10px;
          }
        }
      }
    }
    .profile {
      cursor: pointer;
    }
  }
}
